@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,500&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: Asap, sans-serif;
  background-color: #457b9d;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}
.table-container{
  display: grid;
}

.card-container .players-info{
  padding-top: 10px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.card {
  display: inline-block;
  position: relative;
  border: 5px solid black;
  border-radius: 6%;
  margin: 0px 0px 5px 5px;
  padding: 5px;
  width:80px;
  height:105px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.vulture-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.vulture-card{
  background-color: #f1faee;
}

.prey-container{
  display: flex;
}

.prey-card{
  background-color: #1d3557;
  border: 5px solid #f1faee;
  color: #f1faee;
}

.vulture-card-back{
  background-color: #a8dadc;
}

.vulture-card-back > .image{
  margin-top:0.3em;
  font-size: 130%;
}

.players-info{
  float: left;
  display: flex;
}

.players-info > .box{
  padding: 10px;
  margin: 8px;
  text-align: center;
}

.players-info > .box > .name{
  margin-bottom: 0.2em;
  color: #F1FAEE;
}

.players-info > .box > .score{
  margin: 0;
  color: #F1FAEE;
}

.player-info > .box > .card-spot{
  margin: 0;
}

.spot-full{
  background-color: #A8DADC;
}
