.card-container{
  padding-top: 10px;
}

.card {
  display: inline-block;
  position: relative;
  border: 1px solid black;
  border-radius: 6%;
  width: 50px;
  height: 80px;
  margin: 0px 0px 5px 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .value {
  text-align: center;
}

.prey-container{
  margin: auto;
  width: 50%;
}

.player-card{
  background-color: #ffe;
}

.prey-card{
  background-color: red;
}
